<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HOHSI</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link id="dark-theme-style" rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>HOH|SI</h1><img src="/img/hohlogo1.png" class="rounded" width="90" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="dropdown">
                        <button class="dropbtn">
                            Patients
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a class="nav-link text-light" asp-area="" asp-controller="Patients" asp-action="Index">My profile</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="Patients" asp-action="Index">My Prescriptions</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Management
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a class="nav-link text-light" asp-area="" asp-controller="Patients" asp-action="Index">Patients</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="Prescriptions" asp-action="Index">Prescriptions</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Management
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a class="nav-link text-light" asp-area="" asp-controller="Patients" asp-action="Index">Patients</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="Prescriptions" asp-action="Index">Prescriptions</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <a class="nav-link text-dark" asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            <span id="theme-toggler" class="btn btn-dark btn-sm small switch">Switch Light/Dark</span>    &copy; 2020 - Hands of Hope SI by Rui Rodrigues, 5923@2LEI | <a class="small" asp-area="" asp-controller="Developer" asp-action="Index">Developer tools and notes</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/delete.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
