@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/img/oops.jpg" />
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <h3>If this error persists please contact our support team</h3>
    <h4>help@tech4hope.com</h4>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
@if (ViewBag["ErrorTitle"] != null)
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>

}

