@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="col-md-8 mx-auto">
        <img src="~/img/oops.jpg" height="200" />

        <h3 class="text-danger">An error occurred while processing your request.</h3>
        <h4>If this error persists please contact our support team</h4>
        <h5><a class="text-danger" href="mailto:help@tech4hope.com">help@tech4hope.com</a></h5>
    </div>
    @if (ViewBag.ErrorTitle != null)
    {
        <div class="alert-danger error">
            <h2 class="text-danger">@ViewBag.ErrorTitle</h2>
            <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
            @ViewBag.ErrorDetails
        </div>

    }

</div>

