@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center logobanner">
    <div>
        <p>&nbsp;</p>
        <h1 class="display-4">Welcome to Hands of Hope</h1>
        <p>This is your treatment management system</p>
        <p>&nbsp;</p>
    </div>
    <div class="flex-wrap align-items-center"><img src="~/img/hohlogo1.png" class="logobanner" /></div>

</div>
