@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ut quis dignissim nibh. Fusce aliquam, lectus sed varius tempor, mauris libero lobortis erat, et eleifend risus nunc eget erat. Proin odio nisl, porttitor in interdum in, volutpat sed mi. Proin consectetur libero ut odio accumsan, sed ultricies leo malesuada. Aliquam ac viverra dolor. Etiam volutpat auctor mi eget dapibus. Phasellus iaculis, elit vel feugiat tristique, nibh nibh fringilla ligula, eget auctor felis orci eget felis. Morbi finibus varius luctus.
</p>
<p>
    Morbi ex massa, iaculis commodo vestibulum sed, rutrum vel est. Praesent consequat diam est, a vehicula ligula vestibulum a. Nullam pharetra mi est, nec pretium augue convallis quis. Proin risus dolor, scelerisque at quam id, egestas iaculis diam. Nam tristique fermentum porta. Cras arcu risus, auctor eget dignissim vitae, eleifend a tellus. Vivamus laoreet convallis diam ut accumsan. Pellentesque sit amet diam urna. Aliquam sed eros velit. Nam lobortis nibh nec nibh molestie laoreet. Cras dignissim pulvinar libero, at fringilla est pellentesque id. Vivamus in arcu felis.
</p>
<p>
    Aliquam tincidunt ante ut pharetra hendrerit. Proin at ultricies sem. Nam sit amet diam ex. Fusce non diam feugiat, porttitor lectus nec, auctor neque. Cras non lectus ac nisi placerat varius. Sed ac urna in lectus sagittis porta sit amet et erat. Donec eleifend ut ipsum imperdiet dapibus. Nulla in vestibulum neque, nec vestibulum augue. Aenean lacinia lectus purus, quis condimentum velit hendrerit quis. Suspendisse vitae viverra tortor. Donec sit amet mi posuere urna consequat bibendum vitae eu mi. Aliquam ullamcorper enim in nibh maximus vehicula.
</p>
<p>
    Fusce egestas, mauris ac blandit tincidunt, mi purus faucibus velit, in fermentum quam arcu nec risus. Morbi in urna pharetra nisi mattis ullamcorper pharetra eget lacus. Sed ornare porttitor lacus, a rhoncus leo tempus nec. Proin consectetur tristique augue, eu euismod arcu iaculis at. Curabitur consequat placerat diam, eget laoreet leo tristique non. Sed ultrices nunc lectus, ac laoreet erat ornare a. Phasellus aliquet eleifend ligula.
</p>
<p>
    Ut ac lacus nec nisi porta tempor quis sit amet mauris. Pellentesque viverra porttitor orci, mattis semper nisl egestas eget. In lacus felis, aliquet non lorem sed, mollis imperdiet massa. Fusce non lectus sit amet lacus laoreet tincidunt ac quis urna. Aenean venenatis non nulla et aliquet. In ut finibus metus. Pellentesque congue et nulla vel luctus. Fusce auctor, nulla eu blandit accumsan, dolor neque mollis odio, sed bibendum ex magna rhoncus odio.
</p>
