.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.error {
    margin: 20px;
    padding: 40px;
    border: 1px solid red;
}

form {
    float: right;
    margin-bottom: 10px;
}

#thmain td {
    width: 100%;
}

#tright {
    background: black;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
}



fieldset {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid transparent;
}

#hoh-img-wraper {
    box-shadow: 10px 10px 5px grey;
    width: 100%;
    height: auto;
    border-radius: 100%;
    padding: 5%;
}



