@model IEnumerable<HOHSI.Models.FilesToDelete>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.filePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.filePath)
            </td>
            <td>
                <a class="confirmation badge badge-danger"
                   data-id="@item.fileId"
                   data-controller="FilesToDelete"
                   data-action="DeleteConfirmed"
                   data-body-message="Are you sure you want to delete file '@item.fileId'?">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
